<a href="{{ criminal.get_relative_add_url }}" class="btn btn-outline-success btn-sm btn-block">Добавить
    родственника</a>
<a href="{{ criminal.get_contact_person_add_url }}" class="btn btn-outline-primary btn-sm btn-block">Добавить
    контактируемое лицо</a>
<a href="{{ criminal.get_address_add_url }}" class="btn btn-outline-primary btn-sm btn-block">Добавить
    адресс</a>
<a href="{{ criminal.get_contact_add_url }}" class="btn btn-outline-primary btn-sm btn-block">Добавить
    контактные данные</a>
<a href="{{ criminal.get_criminal_case_add_url }}" class="btn btn-outline-primary btn-sm btn-lg btn-block">Добавить
    уголовное дело</a>
<a href="{{ criminal.get_manhunt_add_url }}" class="btn btn-outline-light btn-lg btn-sm btn-block">Добавить розыскное
    дело</a>
<a href="{{ criminal.get_conviction_add_url  }}" class="btn btn-outline-light btn-sm btn-lg btn-block">Добавить
    судимость</a>