
{% load static %}
{% if uncheck_docs %}
<!-- Для подтверждение-->
{% if request.user.is_superuser or request.user.profile.role_id.role_type == 'head'%}
<div class="row mx-2">
    <div class=""><a  class="text-dark"><!--href="{{criminal.get_absolute_url}}"--><h3>Для подтверждение</h3></a>
    </div>
</div>

<div class="row border-bottom bg-secondary rounded text-light">
    <div class="col-md-4 col-lg-4">ФИО</div>
    <div class="col-md-3 col-lg-3">Дата рождения</div>
    <div class="col-md-2 col-lg-3">ИНН</div>
    <div class="col-md-2 col-lg-2">ИНН</div>
</div>

<!-- Список террористов -->
{% for criminal in uncheck_docs %}

<div class="row border-bottom">
    <div class="col-md-4 col-lg-4">
        <a class="text-muted" href="{{ criminal.get_absolute_url }}">{{criminal}}</a>
    </div>
    <div class="col-md-3 col-lg-3">{{ criminal.birthday }}</div>
    <div class="col-md-2 col-lg-3">{{ criminal.INN }}</div>
    <div class="col-md-2 col-lg-2 d-flex justify-content-end">
        <img src="{% static 'access/icon_view.png' %}" alt="">
        <img src="{% static 'access/icon_redact.png' %}" alt="">
        <img src="{% static 'access/icon_execute.png' %}" alt="">
        <img src="{% static 'access/icon_access_open.png' %}" alt="">
        <img src="{% static 'access/icon_access_close.png' %}" alt="">
    </div>
</div>
{% endfor %}
<br>
{% endif %}
{% endif %}