{% extends "wrapper.html" %}
{% load static %}
{% block show_list %}

{% endblock %}
{% block content_wrapper %}

<!-- Название страницы -->
<!-- Название стобцов-->
<div class="row border p-3 shadow" style="min-height:570px">
    <div class="col-lg-12" style="margin-right:100px">

        <!-- Мои документы -->
        {% if my_docs %}

            {% include "reestr/includes/include_my_docs_list.html" %}

        {% endif %}

        <!-- Недавно добавленные -->


        {% include "reestr/includes/include_criminals_list.html" %}

        <!-- Не подтвержденные документы-->
        {% if uncheck_docs %}

                {% include "reestr/includes/include_uncheck_docs_list.html" %}

        {% endif %}

        <!-- Индивидуальные запросы-->
        {% if docs_requests %}

                {% include "reestr/includes/include_requests.html" %}

        {% endif %}

        <!-- Групповые запросы-->
        {% if docs_requests_group %}

                {% include "reestr/includes/include_group_requests.html" %}

        {% endif %}
    </div>

</div>


{% endblock content_wrapper %}