{% extends "wrapper.html" %}
{% block content_wrapper %}

<div class="row border shadow p-3">
    <div class="col">
        <div class="row mx-1 my-1 mb-2 font-weight-bold">
            <div class="col text-center mb-3">
                Смена пароля {{ request.user.profile }}
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {% if field.error%}
            {{ field.error }}
            {% endif %}
            <div class="row form-group">
                <div class="col">{{ field.label }}</div>
                <div class="col">{{ field }}</div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

{% endblock content_wrapper %}