{% extends "wrapper.html" %}
{% block content_wrapper %}

    <div class="row">
        <div class="col">
            <div class="row form-text h5 m-1">Журнал действий пользователя {{ profile }}</div>
            <div class="row bg-secondary text-light rounded font-weight-bold">
                <div class="col-2">Дата и время</div>
                <div class="col-3">Контент</div>
                <div class="col-3">Объект</div>
                <div class="col-4">Действие</div>
            </div>
            {% for log in logs %}
            <div class="row border-bottom">
                <div class="col-2" style="background-color: Seashell">{{ log.action_time }}</div>
                <div class="col-3" >{{ log.content_type }}</div>
                <div class="col-3" >{{ log.object_repr }}</div>
                <div class="col-4" >
                    {% if log.action_flag == 1 %}
                        Создан
                    {% elif log.action_flag == 2 %}
                        Просмотр
                    {% elif log.action_flag == 3 %}
                        Обновлен
                    {% elif log.action_flag == 4 %}
                        Удален
                    {% elif log.action_flag == 5 %}
                        Добавлен
                    <p>{{ log.message.added }}</p>
                    {% elif log.action_flag == 6 %}
                        Исклчен {{ log.message.exclude }}
                    {% elif log.action_flag == 7 %}
                        {{ log.message.message }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content_wrapper %}