{% extends "wrapper.html" %}
{% block title %}Пользователи{% endblock %}
{% block content_wrapper %}

<div class="shadow px-4 py-3 m-n2 border" style="min-height:570px">
    <div class="row bg-secondary rounded text-light">
        <div class="col-md col-lg">
            Логин
        </div>
        <div class="col-md col-lg">
            ФИО
        </div>
        <div class="col-md col-lg">
            Роль
        </div>
        {% if perms.users.view_user %}
        <div class="col-md col-lg">
            Уровень доверия
        </div>
        {% endif %}

    </div>
    {% for user in users %}
    {% if not user == request.user.profile %}
    <div class="row">
        <div class="col-md col-lg">
            <a class="text-muted" href="{{ user.get_absolute_url }}">{{ user.user }}</a>
        </div>
        <div class="col-md col-lg">
            <a class="text-muted" href="#">{{ user.user.last_name }} {{ user.user.first_name }}</a></h2>
        </div>
        <div class="col-md col-lg">
            {{ user.role_id }}
        </div>
        {% if perms.reestr.view_user %}
        <div class="col-md col-lg">
            {{ user.trust_level_id }}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content_wrapper %}