{% extends "base_auth.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 bg-light rounded mt-5">
            <form class="form-signin" action="{% url 'login_url' %}" method="post">
                {% csrf_token %}
                <br>
                <img class="mb-4" src="{% static 'homepage/images/no_photo.jpg' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Введите логин и пароль</h1>
                <label for="username" class="sr-only">Имя пользователя</label>
                <input type="text" name="username" id="username" class="form-control">
                <label for="password" class="sr-only">Пароль</label>
                <input type="password" name="password" id="password" class="form-control">
                {% if login_error %}
                    <label class="error">{{ login_error }}</label>
                {% endif %}
                <br>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Войти">
            </form>
            <br>
        </div>
    </div>
{% endblock %}