{% extends "wrapper.html" %}

{% block content_wrapper %}
<div class="row"><h1>Добавление родственника <b>{{criminal}}</b></h1></div>
<br>
    <form action="{% url 'criminal_add_relative_url' pk=criminal.id%}" method="post">
        {% csrf_token %}
        {% for field in add_form %}

            {% if field.error %}
                {{ field.error }}
            {% endif %}
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">{{field.label}}</div>
                    <div class="col-lg-6">{{field}}</div>
                </div>
            </div>
        {% endfor %}
        {% for field in person_form %}

            {% if field.error %}
                {{ field.error }}
            {% endif %}
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">{{field.label}}</div>
                    <div class="col-lg-6">{{field}}</div>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

{% endblock %}