{% extends "wrapper.html" %}
{% load static %}
{% block show_list %}
{% endblock %}
{% block content_wrapper %}

<!-- Название страницы -->
<!-- Название стобцов-->
<div class="row border p-3 shadow" style="min-height:570px">
    <div class="col-lg-12" style="margin-right:100px">


        {% include "reestr/includes/include_criminals_list.html" %}

        {% if is_paginated %}
            <nav aria-label="...">
                <ul class="pagination justify-content-end">
                    <li class="page-item {% if not prev_url %} disabled {% endif %}">
                        <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Пред</a>
                    </li>

                    {% for n in criminals.paginator.page_range %}

                    {% if criminals.number == n %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ n }}">{{ n }}
                                <span class="sr-only">( current )</span>
                            </a>
                        </li>
                    {% elif n > criminals.number|add:-3 and n < criminals.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                        </li>
                    {% endif %}

                    {% endfor %}
                    <li class="page-item {% if not next_url %} disabled {% endif %}">
                        <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">След</a>
                    </li>
                </ul>
            </nav>
        {% endif %}


    </div>

</div>


{% endblock content_wrapper %}