{% extends "wrapper.html" %}
{% load staticfiles %}
{% block title %}{{ criminal.last_name }} {{ criminal.first_name }} {{ criminal.patronymic }}{% endblock title %}


{% block content_wrapper %}

<div class="row border px-2 py-2 pb-5 shadow mb-5">
    <!-- ФИО -->
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2">
                <div class="row p-0">

                    {% if criminal.check %}
                    <div class="col-lg-6 text-success m-0 p-0"><h6>Подтвержден</h6></div>
                    {% else %}
                    <div class="col-lg-8 text-warning m-0 p-0"><h6>Не подтвержден</h6></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8 text-center"><h3>{{ criminal }}</h3></div>
            <div class="col-lg-2 p-0">
                {% if not criminal.check %}
                {% if request.user.is_superuser or request.user.profile.role_id.role_type == 'head' %}
                <a href="{{ criminal.get_criminal_check_url }}" class="btn btn-success btn-block">Подтвердить</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- навбар -->
    <div class="col-lg-3">

        <div class="row mb-2 mt-2 justify-content-center bg-dark pt-2 pb-2 rounded">
            <div>
                <img src="{% static 'homepage/images/no_photo.jpg' %}" class="rounded " width="290"
                     height="300">
            </div>
        </div>
        <hr>
        {% if request.user.is_superuser or perms.reestr.change_criminals %}
        <div class="row px-2 pt-2 pb-2 bg-dark rounded">
            <hr>

            {% include 'reestr/includes/include_criminal_detail_nav_btn.html' %}

            <br>
        </div>

        {% endif %}
    </div>
    <!-- досье -->
    {% include "reestr/criminals/includes/include_criminal_dosye.html"%}
    <!-- информация -->
    <div class="col-lg-2 pt-2 border-left">
        {% if request.user.is_superuser %}
        <a href="{{ criminal.get_logs_url }}" class="btn btn-outline-dark btn-block btn-sm mb-2">
            История
        </a>
        {% endif %}
        {% if perms.reestr.change_criminals %}
        <a href="{{ criminal.get_update_url }}" class="btn btn-outline-primary btn-sm">
            <img src="{% static 'access/icon_redacting.png' %}" alt="Редактировать">
        </a>
        {% endif %}
        {% if request.user.is_superuser %}
        <a href="{{ criminal.get_delete_url}}" class="btn btn-outline-danger btn-sm ">
            <img src="{% static 'access/icon_delete_32.png'%}" alt="Удалить">
        </a>
        {% endif %}
        {% if perms.reestr %}
        <a href="#" class="btn btn-outline-secondary btn-sm">
            <img src="{% static 'access/icon_print_32.png'%}" alt="Печать">
        </a>
        {% endif %}
        <hr>
        <div class="row m-0 p-0">
            <span class="mx-2">Владелец:</span>
            <a href="#" class="text-muted">{{criminal.owner}}</a>
            <span class="mx-2">Создан:</span>
            <a href="">{{criminal.user}}</a>
            <span class="mx-2">Дата создания:</span>
            <span class="text-primary">{{criminal.created}}</span>

            <span class="mx-2">Уровень секретности:</span>

            <span class="text-primary">{{criminal.confident}}</span>

            <br>
            {% if criminal.owner == request.user.profile or request.user.is_superuser %}
            <a href="{{ criminal.get_criminal_confident_change_url }}" class="btn btn-primary btn-sm btn-block">Изменить
                уровень секретности</a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a href="{{ criminal.get_criminal_change_owner_url }}" class="btn btn-secondary btn-sm btn-block">Сменить
                владельцца</a>
            {% endif %}
        </div>
        <hr>
        <div class="row m-0 p-0">
            {% if criminal.owner == request.user.profile or request.user.is_superuser %}
            {% if criminal.close == False%}
            <a href="{{ criminal.get_criminal_close_change_url }}" class="btn btn-outline-danger btn-sm btn-block">
                <img src="{% static 'access/icon_close_32.png'%}" alt="Закрыть доступ">
            </a>
            {% else %}
            <a href="{{ criminal.get_criminal_close_change_url }}" class="btn btn-outline-success btn-sm btn-block">
                <img src="{% static 'access/icon_open_32.png'%}" alt="Закрыть доступ">
            </a>
            {% endif %}
            <a href="{{ criminal.get_group_access_create_url }}" class="btn btn-outline-primary btn-sm btn-block">
                <img src="{% static 'access/icons_add_group.png'%}" alt="Открыть групповой доступ">
            </a>
            <a href="{{ criminal.get_personal_access_create_url }}" class="btn btn-outline-info btn-sm btn-block">
                <img src="{% static 'access/icon_add_user.png'%}" alt="Открыть персональный доступ">
            </a>
            {% endif %}
        </div>
    </div>
</div>


{% if address %}
{% include "reestr/criminals/includes/include_criminal_address.html"%}
{% endif %}

{% if contacts_detail %}
{% include "reestr/criminals/includes/include_criminal_contacts_detail.html"%}
{% endif %}

{% if relatives %}
{% include "reestr/criminals/includes/include_criminal_relatives.html"%}
{% endif %}

{% if contact_persons %}
{% include "reestr/criminals/includes/include_contact_persons.html"%}
{% endif %}

{% if convictions %}
{% include "reestr/criminals/includes/include_criminal_conviction.html"%}
{% endif %}

{% if criminal_case %}
{% include "reestr/criminals/includes/include_criminal_criminal_case.html"%}
{% endif %}

{% if manhunt %}
{% include "reestr/criminals/includes/include_criminal_manhunt.html"%}
{% endif %}

{% endblock content_wrapper %}
