{% extends "wrapper.html" %}
{% load staticfiles %}
{% block title %}{{ criminal.last_name }} {{ criminal.first_name }} {{ criminal.patronymic }}{% endblock title %}


{% block content_wrapper %}

<div class="row border px-2 py-2 pb-5 shadow mb-5">
    <!-- ФИО -->
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2">
                <div class="row p-0">

                    {% if criminal.check %}
                    <div class="col-lg-6 text-success m-0 p-0"><h6>Подтвержден</h6></div>
                    {% elif criminal.to_rev %}
                    <div class="col-lg-8 text-warning m-0 p-0"><h6>На пересмотре</h6></div>
                    {% elif criminal.consideration %}
                    <div class="col-lg-8 text-primary m-0 p-0"><h6>На рассмотрении</h6></div>
                    {% elif not criminal.consideration and not criminal.check and not criminal.to_rev %}
                    <div class="col-lg-8 text-warning m-0 p-0"><h6>В обработке</h6></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8 text-center"><h3>{{ criminal }}</h3></div>

        </div>
    </div>
    <!-- навбар -->
    <div class="col-lg-3">

        <div class="row mb-2 mt-2 justify-content-center bg-dark pt-2 pb-2 rounded">
            <div>
                <img src="{% static 'homepage/images/no_photo.jpg' %}" class="rounded " width="290"
                     height="300">
            </div>
        </div>
        <hr>
        {% if request.user.is_superuser or perms.reestr.change_criminals %}
        <div class="row px-2 pt-2 pb-2 bg-dark rounded">
            <hr>

            {% include 'reestr/includes/include_criminal_detail_nav_btn.html' %}

            <br>

        </div>
        {% endif %}
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="btn-group dropright" role="group">
                <button type="button" class="btn btn-secondary btn-block dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Допольнительные информации
                    <span class="sr-only">Toggle Dropleft</span>
                </button>
                <div class="dropdown-menu">
                    <!-- Dropdown menu links -->
                    <a class="dropdown-item" href="" id="addressListBtn">Адрессные данные</a>
                    <a class="dropdown-item" href="" id="relativesListBtn">Родственники</a>
                    <a class="dropdown-item" href="" id="conPersonListBtn">Контактируемые лица</a>
                    <a class="dropdown-item" href="" id="contactsListBtn">Контактные данные</a>
                    <a class="dropdown-item" href="" id="ccListBtn">Уголовные дела</a>
                    <a class="dropdown-item" href="" id="manhuntListBtn">Розыскные дела</a>
                    <a class="dropdown-item" href="" id="convictionListBtn">Судимость</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- досье -->
    {% include "reestr/criminals/includes/include_criminal_dosye.html"%}
    <!-- информация -->
    <div class="col-lg-2 pt-2 border-left">
        {% if request.user.is_superuser %}
        <div class="col-12 p-0 mb-2">
            {% if not criminal.check %}
            {% if request.user.is_superuser or request.user.profile.role_id.role_type == 'head' %}
            <a href="{{ criminal.get_criminal_check_url }}" class="btn btn-success btn-block">Подтвердить</a>
            {% endif %}
            {% endif %}
            {% if criminal.check and criminal.consideration or not criminal.to_rev %}
            {% if request.user.is_superuser or request.user.profile.role_id.role_type == 'Руководитель отдела' %}
            <a href="{{ criminal.get_review_url }}" class="btn btn-success btn-block">На пересмотр</a>
            {% endif %}
            {% endif %}
            {% if not criminal.to_rev and not criminal.consideration and not criminal.check%}
            {% if request.user.is_superuser or request.user.profile.role_id.role_type == 'Руководитель отдела' %}
            <a href="{{ criminal.get_consideration_url }}" class="btn btn-primary btn-block">На рассмотрение</a>
            {% endif %}
            {% endif %}
            {% if criminal.to_rev %}
            {% if request.user.is_superuser or request.user.profile.role_id.role_type == 'Руководитель отдела' %}
            <a href="{{ criminal.get_cons_review_url }}" class="btn btn-info btn-block">На рассмотрение</a>
            {% endif %}
            {% endif %}
        </div>
        <a href="{{ criminal.get_logs_url }}" class="btn btn-outline-dark btn-block btn-sm mb-2">
            История
        </a>
        {% endif %}
        {% if perms.reestr.change_criminals %}
        <a href="{{ criminal.get_update_url }}" class="btn btn-outline-primary btn-sm">
            <img src="{% static 'access/icon_redacting.png' %}" alt="Редактировать">
        </a>
        {% endif %}
        {% if request.user.is_superuser %}
        <a href="{{ criminal.get_delete_url}}" class="btn btn-outline-danger btn-sm ">
            <img src="{% static 'access/icon_delete_32.png'%}" alt="Удалить">
        </a>
        {% endif %}
        {% if perms.reestr %}
        <a href="#" class="btn btn-outline-secondary btn-sm">
            <img src="{% static 'access/icon_print_32.png'%}" alt="Печать">
        </a>
        {% endif %}
        <hr>
        <div class="row m-0 p-0">
            <span class="mx-2">Владелец:</span>
            <a href="#" class="text-muted">{{criminal.owner}}</a>
            <span class="mx-2">Создан:</span>
            <a href="">{{criminal.user}}</a>
            <span class="mx-2">Дата создания:</span>
            <span class="text-primary">{{criminal.created}}</span>

            <span class="mx-2">Метка доступа:</span>

            <span class="text-primary">{{criminal.confident}}</span>

            <br>
            {% if criminal.owner == request.user.profile or request.user.is_superuser %}
            <a href="{{ criminal.get_criminal_confident_change_url }}" class="btn btn-primary btn-sm btn-block">Изменить
                уровень секретности</a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a href="{{ criminal.get_criminal_change_owner_url }}" class="btn btn-secondary btn-sm btn-block">Сменить
                владельцца</a>
            {% endif %}
        </div>
        <hr>
        <div class="row m-0 p-0">
            {% if criminal.owner == request.user.profile or request.user.is_superuser %}
            {% if criminal.close == False%}
            <a href="{{ criminal.get_criminal_close_change_url }}" class="btn btn-outline-danger btn-sm btn-block">
                <img src="{% static 'access/icon_close_32.png'%}" alt="Закрыть доступ">
            </a>
            {% else %}
            <a href="{{ criminal.get_criminal_close_change_url }}" class="btn btn-outline-success btn-sm btn-block">
                <img src="{% static 'access/icon_open_32.png'%}" alt="Открыть доступ">
            </a>
            {% endif %}
            <a href="{{ criminal.get_group_access_create_url }}" class="btn btn-outline-primary btn-sm btn-block">
                <img src="{% static 'access/icons_add_group.png'%}" alt="Открыть групповой доступ">
            </a>
            <a href="{{ criminal.get_personal_access_create_url }}" class="btn btn-outline-info btn-sm btn-block">
                <img src="{% static 'access/icon_add_user.png'%}" alt="Открыть персональный доступ">
            </a>
            {% endif %}
            {% if perm.access or criminal.owner == request.user.profile or request.user.is_superuser %}
            <a href="#" id="accessListBtn" class="text-muted btn border btn-block">Список доступа</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="row rounded border mb-5 d-none" id="accessList">
    <div class="col-lg-12 round">
        <div class="row d-flex bg-secondary justify-content-center text-align-center">
            <div class="text-light"><h4>Список доступа</h4></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row border-bottom">
                    <div class="text-dark px-3"><h6>Групповой доступ</h6></div>
                </div>
                <div class="row border-bottom">
                    <div class="col">Группа</div>
                    <div class="col">Действие</div>
                </div>
                {% for access in group_access %}
                <div class="row border-bottom">
                    <div class="col">{{access.group_id}}</div>
                    <div class="col"><a href="{{access.get_delete_url}}" class="text-muted">Удалить</a></div>
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="row border-bottom">
                    <div class="text-dark px-3"><h6>Индивидуальный доступ</h6></div>
                </div>
                <div class="row border-bottom">
                    <div class="col">Пользователь</div>
                    <div class="col">Действие</div>
                </div>
                {% for access in person_access %}
                <div class="row border-bottom">
                    <div class="col">{{access.user_id}}</div>
                    <div class="col"><a href="{{access.get_delete_url}}" class="text-muted">Удалить</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for a in address %}
        <div class="row border-bottom rounded">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% if address or similar %}
{% include "reestr/criminals/includes/include_criminal_address.html"%}
{% endif %}

{% if contacts_detail %}
{% include "reestr/criminals/includes/include_criminal_contacts_detail.html"%}
{% endif %}

{% if relatives %}
{% include "reestr/criminals/includes/include_criminal_relatives.html"%}
{% endif %}

{% if contact_persons %}
{% include "reestr/criminals/includes/include_contact_persons.html"%}
{% endif %}

{% if convictions %}
{% include "reestr/criminals/includes/include_criminal_conviction.html"%}
{% endif %}

{% if criminal_case %}
{% include "reestr/criminals/includes/include_criminal_criminal_case.html"%}
{% endif %}

{% if manhunt %}
{% include "reestr/criminals/includes/include_criminal_manhunt.html"%}
{% endif %}

<script>
    $('#accessListBtn').on('click', function(e) {
        e.preventDefault();
        $('#accessList').toggleClass('d-none');
        })


</script>
<script>
    $('#addressListBtn').on('click', function(e) {
        e.preventDefault();
        $('#addressList').toggleClass('d-none');
        })


</script>
<script>
    $('#relativesListBtn').on('click', function(e) {
        e.preventDefault();
        $('#relativesList').toggleClass('d-none');
        })


</script>
<script>
    $('#conPersonListBtn').on('click', function(e) {
        e.preventDefault();
        $('#conPersonList').toggleClass('d-none');
        })


</script>
<script>
    $('#contactsListBtn').on('click', function(e) {
        e.preventDefault();
        $('#contactsList').toggleClass('d-none');
        })


</script>
<script>
    $('#ccListBtn').on('click', function(e) {
        e.preventDefault();
        $('#ccList').toggleClass('d-none');
        })


</script>
<script>
    $('#manhuntListBtn').on('click', function(e) {
        e.preventDefault();
        $('#manhuntList').toggleClass('d-none');
        })


</script>
<script>
    $('#convictionListBtn').on('click', function(e) {
        e.preventDefault();
        $('#convictionList').toggleClass('d-none');
        })


</script>

{% endblock content_wrapper %}
